.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    /* padding: 10px 20px; */
    /* background-color:#90EE90; */
}

.upload-btn {
    margin-left: 100px !important;
}

.images-wrapper {
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.img-res {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.wrap-wrap {
    display: flex;
    width: 400px;
}

.wrap-wrap2 {
    display: flex;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    margin-top: 20px;
    max-height: 40px !important;
}